.CategoryButton {
  border-radius: 10px;
  background-color: #073147;
  color: rgb(252, 252, 252);
}

.CategoryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  padding: 5px; 
}

.CategoryButton:hover {
  transform: scale(1.05);
}